@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navigation-icon {
  width: 32px;
}

.parent {
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 0.2fr repeat(11, 1fr);
}

.user-header {
  grid-area: 1 / 1 / 2 / 13;
}
.navigation {
    grid-area: unset;
}
.outlet {
  grid-area: 2 / 1 / 13 / 13;
}

@media (min-width: 992px) {
  .navigation {
    grid-area: 2 / 1 / 13 / 2;
  }

  .parent {
    grid-template-columns: 0.2fr repeat(11, 1fr);
    grid-template-rows: 0.2fr repeat(11, 1fr);
  }

  .outlet {
    grid-area: 2 / 2 / 13 / 13;
  }
}
